body {
    display: flex;
    flex-direction: column;
    margin: 0;  
}


.first_container {
    background-color: #1F2937;
}



.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.navbar p{

    color: white;
    display: inline-block;
    margin: 0;
    background-color: tomato;
}





.navbar h1 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-color: pink;
    margin-left: 0;
}


.awesome_container {
    margin-bottom: 20px;
    margin-left: 330px;
    color: white;
    max-width: 300px;
    justify-content: center;
}

.awesome_container h1 {
    font-size: 35px;
}

.awesome_container button {
    background-color: cornflowerblue;
    padding: 10px;
    border: none;
    border-radius: 5px;
}



.second_container {
    background-color: white
}


.third_container {
    background-color: #E5E7EB;
    
}


.forth_container {
    background-color: white;
    min-height: 18vh;
}

.first_container,
.second_container,
.third_container {
    min-height: 25vh;
}

.footer {
    min-height: 7vh;
    background-color: #1F2937;
    color: white;
    display: flex;
}

.footer_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.par_first_container {
    display: flex;   
}

.par_first_container .image_placeholder {
    color: white;
    align-self: center;
    margin-left:600px;
    background-color: grey;
    padding: 80px;
}

.second_container h1{
    text-align: center;
    
   
}

.four_squares {
display: flex;
align-items: flex-start;
justify-content: center;
gap: 15px;

}

.four_squares .first_square,
.four_squares .second_square, 
.four_squares .third_square,
.four_squares .fourth_square
 {
    height: 100px;
    width: 100px;
    border: 5px solid #3882F6;
    border-radius: 15px; /* Adjust the value as needed */
}

.four_squares p {
    text-align: center;
}